.form-container {
  width: 80%;
  max-width: 1540px;
  margin: 0 auto;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-submit {
  padding: 0.5rem 1rem;
  background-color: #0290ff;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #0272c4;
}

.separator {
  border: 0;
  border-top: 1px solid #e8e8e8;
  margin: 0 0 2rem 0;
}
