.category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: #fff;
    position: relative;
  }
  
  .category-card-content {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  