@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.individual-book {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin-bottom: 1.5rem;
  justify-items: center;
  width: 80%;
  margin-top: 2.3rem;
}

.individual-book-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  opacity: 0.5;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  margin: 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  margin: 0 0.875rem 1.1rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  opacity: 0.6;
}

.book-info,
.progress,
.current-chapter {
  display: flex;
  flex-direction: column;
}

.book-info {
  display: grid;
  grid-template-rows: repeat(6, auto);
  gap: 0.2rem;
}

.book-info button {
  background: none;
  border: none;
  color: #4386bf;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
}

.current-chapter button {
  background-color: #0290ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.book-info button:focus {
  outline: none;
}

.progress {
  align-items: center;
  gap: 0.5rem;
}

.current-chapter {
  gap: 0.5rem;
  align-items: flex-start;
}

.current-chapter button:focus {
  outline: none;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .individual-book {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
